div {
    border: 2px groove black;
    border-radius: 5px;
}
#top-left {
    height: 140px;
    width: 100px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 15px;
	margin-left: 15px;
}
img {
    height: 139px;
    width: 100px;
    border-radius: 15px;
}
#header {
    height: 140px;
    width: 1500px;
    background-color: #24d8dc;
    position: fixed;
    z-index: 1;
}
.left {
    float: left;
    height: 1600px;
    width: 300px;
    display: inline-block;
    background-color: #DDE8DD;
	float: left;
}
.right {
    height: 1600px;
    width: 72%;
    display: inline-block;
    background-color: silver;
    float: right;
}
#footer {
    height: 100px;
    width: 1500px;
    clear: both;
    background-color:#24d8dc;
    font-size: 25px;
}    
h1 {
    font-family: Courier;
    font-size: 40px;
    position: absolute;
	top: 15px;
	left: 180px;
}
#pheader {
    font-family: Courier;
    font-size: 20px;
    float: right;
	padding-left: 10px;
	padding-right: 10px;
}
.ulleft {
    position: relative;
    padding: 0 0 0 100px;
    font-family: Courier;
    font-size: 25px;
}

#obj {
    margin: 250px 0 0 0px;
}
#workexp {
    margin: 100px 0 0 0px;
}
#ed {
    margin: 410px 0 0 0;
}
#int {
    margin: 290px 0 0 0;
}
#ref {
	margin: 165px 0 0 0;
}
.pright {
    font-size: 25px;
    position: relative;
}
#objr {
    margin: 250px 0 0 40px;
}
#workexpr1 {
    margin: 100px 0 0 40px;
}
#workexpr2 {
    margin: 150px 0 0 40px;
}
#span1 {
    float: right;
}
.edr {
	position: relative;
	font-size: 25px;
	margin: 30px 0 0 40px;
}
#edr1 {
  	margin: 170px 0 0 40px;
}
.intr {
	position: relative;
	margin: 30px 0 0 120px;
	font-size: 25px;
	display: inline-block;
}
#int1 {
	margin: 110px 0 0 120px;
}
a {
	text-decoration: none;
}
a:hover {
	color: #F99F1A;
}
a:visited {
	color: lawngreen;
}
.refr {
	position: relative;
	font-size: 25px;
	margin: 30px 0 0 40px;
	display: inline-block;
	padding: 0 30px 0 40px;
}
#refr1 {
	margin: 140px 0 0 40px;
	display: inline-block;
}
address {
	margin: 10px 0 0 10px;
}
